{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    {{ dump(produits) }}
        <h2>Produits</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Qté</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in produits %}
                    <tr>
                        <td>{{ prod.nom }}</td>
                        <td>{{ prod.description }}</td>
                        <td>{{ prod.prix }}</td>
                        <td>{{ prod.qte }}</td>
                        <td>
                            <a href="{{ path('un_produit', {'id':prod.id}) }}"
                                title="Voir ce produit">Voir</a>
                        </td>
                    </tr>
                {% else %}

                    <tr>
                        <td colspan="4">Il n'y a aucun produit</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    

    {{ form(ajout) }}
{% endblock %}
