{% extends 'base.html.twig' %}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">
                {{un_message}}
            </p>
        {% endfor %}
    {% endfor %}

    <h1>{{produit.nom}}</h1>
    <p>Description : {{produit.description}}</p>
    <p>Prix : {{produit.prix}}</p>
    <p>Qté : {{produit.qte}}</p>

    <h2>Modifier le produit</h2>
    {{ form(edit) }}
{% endblock %}