{% extends 'base.html.twig'%}

{% block body %}

    {% for type, messages in app.flashes %}
        {% for un_message in messages %}
            <p class="alert alert-{{type}}">
                {{un_message}}
            </p>
        {% endfor %}
    {% endfor %}

    <h1>{{categorie.titre}}</h1>
    <p>{{categorie.description}}</p>

    <h2>Modifier la catégorie</h2>
    {{form(edit)}}

{% endblock %}